## **Variable**

In [3]:
x = 'hallo'

In [6]:
x

'hallo'

In [8]:
y = 5
y

5

## **Conditional**

In [10]:
if False:
  print('hallo')
  print('statement 2')

In [29]:
angka = 20

if angka > 10:
  print(f'nilai {angka} diatas 10')

nilai 20 diatas 10

In [56]:
angka = 7

if angka > 10:
  print(f'nilai {angka} di atas 10')
elif angka == 10:
  print(f'nilai {angka} sama dengan 10')
elif angka > 5:
  print(f'nilai {angka} di atas 5 dan di bawah 10')
else:
  print(f'nilai {angka} di bawah 10')

nilai 7 di atas 5 dan di bawah 10

In [55]:
7 - angka == 2

True

In [64]:
angka = 25

if angka > 10:
  print(f'nilai {angka} di atas 10')
  print(f'apakah {angka} lebih dari 20?')
  if angka > 20:
    print('iya')
  else:
    print('tidak')

nilai 25 di atas 10
apakah 25 lebih dari 20?
iya

- A = [80 - 100]
- B = [70 - 80)
- C = [60 - 70)
- D = [40 - 60)
- E = [0 - 40)

In [80]:
# i.y
angka = 150

if angka >= 80:
    print ('a')
elif angka >= 70:
    print('b')
elif angka >= 60:
    print('c')
elif angka >= 40:
    print('d')
else: 
    print('e')

a

In [79]:
# f.k
nilai = 150

if 80 <= nilai <= 100:
    print("Skor: A")
elif 70 <= nilai < 80:
    print("Skor: B")
elif 60 <= nilai <= 70:
    print("Skor: C")
elif 40 <= nilai <= 60:
    print("Skor: D")
else:
    print("Skor: E")

Skor: E

In [72]:
# a.x
def nilaichecker(num):
    if 80<= num <=100:
        print('A')
    elif 70<= num <=80:
        print('B')
    elif 60<= num <=70:
        print('C')
    elif 40<= num <=60:
        print('D')
    elif 0<= num <=40:
        print('E')
        
nilaichecker(70)

B

In [78]:
# o.s
#Exercise
nilai = -65

if 0 <= nilai < 40:
    print('E')
elif 40 <= nilai < 60:
    print('D')
elif 60 <= nilai < 70:
    print('C')
elif 70 <= nilai < 80:
    print('B')
else:
    print('A')

A

In [84]:
skor = 50

if 0 <= skor <= 100:
  if skor >= 80:
    print('A')
  elif skor >= 70:
    print('B')
  elif skor >= 60:
    print('C')
  elif skor >= 40:
    print('D')
  else:
    print('E')
else:
  print(f'nilai {skor} di luar batas')

D

In [100]:
c = 100

if c in range(80, 101):
  print('a')
elif c in range(70,80):
  print('b')
elif c in range(60,70):
  print('c')
elif c in range(40,60):
  print('d')
else:
  print('e')

a

In [104]:
cities = ['Malang', 'Banjarmasin', 'Depok', 'Yogyakarta']

kota = 'Depok'

if kota in cities:                                # Case-sensitive
  print(f'{kota} terdapat dalam list cities')

## **Looping**

**While Loop**

In [ ]:
# infinite loop state

# while True:
#   print('halo')
#   print('statement 2')

In [113]:
angka = 3
angka

3

In [118]:
angka = angka + 1
angka

8

In [119]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [122]:
i = 1

while i <= 10:
  print(f'5 x {i} = {5 * i}')
  i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [128]:
i = 1
j = 1

while i <= 10:
  print(f'perkalian {i}') 
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-'*10)
  i = i + 1
  j = 1

perkalian 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
perkalian 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
perkalian 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
perkalian 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
perkalian 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
perkalian 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
perkalian 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
perkalian 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
perkalian 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
perkalian 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

### **For Loop**

In [131]:
cities = cities + ['Bandung', 'Palembang', 'Balik Papan']
cities

['Malang',
 'Banjarmasin',
 'Depok',
 'Yogyakarta',
 'Bandung',
 'Palembang',
 'Balik Papan']

In [134]:
for i in cities:
  print(i)
  print('-'*10)

Malang
----------
Banjarmasin
----------
Depok
----------
Yogyakarta
----------
Bandung
----------
Palembang
----------
Balik Papan
----------

In [144]:
cities

['Malang',
 'Banjarmasin',
 'Depok',
 'Yogyakarta',
 'Bandung',
 'Palembang',
 'Balik Papan']

In [152]:
idx = 0

while idx < len(cities):
  print(cities[idx])
  print('-'*10)
  idx += 1    # i = i + 1

Malang
----------
Banjarmasin
----------
Depok
----------
Yogyakarta
----------
Bandung
----------
Palembang
----------
Balik Papan
----------

In [137]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [140]:
for var in range(1, 11):
  print(f'5 x {var} = {5 * var}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for i in range(1, 11):
  for j in range(1,11):
    print(f'{i} x {j} = {i * j}')
  print('-' * 20)

In [ ]:
i = 1
j = 1

while i <= 10:
  print(f'perkalian {i}') 
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-'*10)
  i = i + 1
  j = 1

### **Control Flow Statement**

**Continue**

In [161]:
i = 0

while i <= 10:
  i = i + 1
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10

**Break**

In [166]:
i = 0

while i <= 10:
  i = i + 1
  print(i)
  if i == 7:
    break

1
2
3
4
5
6
7

**Practice**

In [167]:
# Combination conditional and looping

In [203]:
skor = {'Rafif': 70, 'Fauzi': 80, 'Ali': 75, 'Danang': 55, 'Jonathan': 90, 'Rivaldi': 150}
skor

{'Ali': 75,
 'Danang': 55,
 'Fauzi': 80,
 'Jonathan': 90,
 'Rafif': 70,
 'Rivaldi': 150}

In [193]:
skor.keys()

dict_keys(['Rafif', 'Fauzi', 'Ali', 'Danang', 'Jonathan', 'Rivaldi'])

In [194]:
skor.values()

dict_values([70, 80, 75, 55, 90, 150])

In [195]:
skor.items()

dict_items([('Rafif', 70), ('Fauzi', 80), ('Ali', 75), ('Danang', 55), ('Jonathan', 90), ('Rivaldi', 150)])

In [199]:
grade = {}

for nama, nilai in skor.items():
  if 0 < nilai < 100:
    if nilai >= 80:
      grade[nama] = 'A'
    elif nilai >= 70:
      grade[nama] = 'B'
    elif nilai >= 60:
      grade[nama] = 'C'
    elif nilai >= 40:
      grade[nama] = 'D'
    else:
      grade[nama] = 'E'
  else:
    grade[nama] = 'Eror'

grade

{'Ali': 'B',
 'Danang': 'D',
 'Fauzi': 'A',
 'Jonathan': 'A',
 'Rafif': 'B',
 'Rivaldi': 'Eror'}

In [197]:
skor

{'Ali': 75,
 'Danang': 55,
 'Fauzi': 80,
 'Jonathan': 90,
 'Rafif': 70,
 'Rivaldi': 150}